@import url(../../../../style/imports.css);

main>div[data-link="mainMenu"] {
    position: var(--abs);
    left: var(--z);
    bottom: var(--head);
    width: calc(var(--head) * 12);
    height: calc(var(--head) * 12);
}

main>div[data-link="mainMenu"]>#windowContainer {
    margin: var(--z);
    padding: var(--z);
}

div[data-link="mainMenu"]>#windowHeader {
    display: var(--n);
    height: var(--z);
}

#mainMenu {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: var(--full);
    height: var(--full);
    margin-bottom: var(--z);
    box-shadow: var(--bs);
    background: var(--t);
}

.mainMenuCol {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--fs);
    height: var(--full);
    border: var(--bor-mn);
}

.mainMenuCol:nth-child(1) {
    width: calc(var(--min-w) * 4);
}

#mainMenu>.mainMenuCol>a {
    width: calc(var(--head) + var(--head) / 4);
    height: var(--a);
}

#mainMenu>.mainMenuCol>a>img {
    width: calc(var(--head) + var(--head) / 4);
    height: var(--a);
    transition: var(--eas2);
}

#mainMenu>.mainMenuCol>a>img:hover {
    transform: scale(.9);
}

.mainMenuCol:nth-child(2) {
    width: calc(var(--min-w) * 16);
}

.mainMenuCol:nth-child(3) {
    width: calc(var(--min-w) * 16);
}