@import url(imports.css);

html {
    scrollbar-color: var(--background);
    scroll-behavior: smooth;
    color: var(--texte);
}

#mint {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--sb);
    width: var(--max-w);
    height: var(--max-h);
    background-image: var(--mint);
    background-size: var(--scov);
    background-repeat: var(--nr);
    background-position: var(--c);
    overflow: var(--n);
}

#desktop {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--fs);
    width: var(--max-w);
    height: calc(var(--max-h) - calc(var(--head) * 1.5));
    max-height: calc(var(--max-h) - calc(var(--head) * 1.5));
}

#tableau {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sb);
    width: var(--full);
    height: calc(var(--head) * 1.5);
    padding: var(--z) calc(var(--head) / 4) var(--z) calc(var(--head) / 4);
    border: var(--n);
    background: var(--noir);
}