div[class^="windowElement"]:not(#mainMenu) {
    position: var(--fix);
    top: calc(var(--head) * 1.2);
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: calc(var(--mid) + var(--mid) / 4);
    min-width: calc(var(--head) * 16);
    height: calc(var(--head) * 10);
    min-height: calc(var(--head) * 18);
    padding: calc(var(--head) / 20);
    border: calc(var(--min-bt) * 4) solid var(--t);
    border-radius: calc(var(--head) / 4);
    box-shadow: var(--frame);
    background: var(--menuDefaultCol);
    overflow: var(--h);
    scrollbar-width: var(--z);
}

.windowElement .active {
    height: var(--a);
    min-height: calc(var(--head) * 18);
    z-index: 500;
}

#windowHeader {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sb);
    width: var(--full);
    min-width: var(--a);
    max-width: var(--max-w);
    height: calc(var(--head) / 1.3);
    padding: calc(var(--head) / 4);
    border-radius: calc(var(--head) / 4) calc(var(--head) / 4) var(--z) var(--z);
    background: var(--xedHC);
    user-select: none;
}

#windowHeader>nav {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sa);
    width: calc(var(--head) * 2.2);
    height: var(--head);
}

#windowTitle {
    width: calc(var(--head) * 20);
    text-align: var(--c);
    text-shadow: var(--bs);
}

#windowHeader>nav>button {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: calc(var(--head) / 2);
    height: calc(var(--head) / 2);
    padding: var(--z);
    outline: var(--n);
    border-radius: var(--mid);
    border: 1px var(--t);
}

#minimizeBtn {
    background-image: url(../media/img/header/minimize.svg);
    background-size: cover;
}

#resizeBtn {
    background-image: url(../media/img/header/maximize.svg);
    background-size: cover;
}

#closeBtn {
    background-image: url(../media/img/header/close.svg);
    background-size: cover;
}

#windowIframe { 
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: var(--full);
    height: var(--a);
    min-height: calc(var(--full) - calc(var(--head) / 1.2));
    border-radius: var(--z) var(--z) calc(var(--head) / 4) calc(var(--head) / 4);
    overflow: var(--h);
}

section.windowElement {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: var(--full);
    height: var(--full);
}