@import url(./imports.css);

html {
    scrollbar-color: var(--background);
    scroll-behavior: smooth;
    color: var(--bgw);
}

#ios15 {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--sb);
    width: var(--max-w);
    height: var(--max-h);
    background-image: var(--ios);
    background-size: var(--scov);
    background-repeat: var(--nr);
    background-position: var(--c);
    overflow: var(--n);
}
#iosheader{
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sb);
    width: var(--full);
    height: calc(var(--head) * 1);
    padding: calc(var(--head) / 10) calc(var(--head) / 5);
    font-size: 0.8em;
}
#headercellular{
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--fs);
}
#iosheader img{
    height: calc(var(--head) * 0.35);
}
#headercellular>img{
    padding-right: calc(var(--head) / 10);
}
#headercellular>p:last-child{
    padding-left: calc(var(--head) / 5);
}
#headerbattery>img{
    padding-left: calc(var(--head) / 5);
}
#heure{
    font-weight: bold;
}
#headerbattery{
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--fe);
}


#ios15 a>img{
    width: calc(var(--head) * 1.2);
}
#tableau, #tableau>nav {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sa);
    width: var(--full);
    height: calc(var(--head) * 1.8);
    border: var(--n);
}
#tableau{
   background: #fff6e2cc; 
}
