@import url(../../../style/imports.css);

html {
    scrollbar-color: var(--background);
    scroll-behavior: smooth;
    color: var(--noir);
}

ul,
li {
    list-style: var(--n);
    margin: var(--z);
    padding: var(--z);
}

p,
a {
    margin: var(--z);
}


/************* INTERFACE GLOBALE *************/
#ios15 {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--sb);
    width: var(--max-w);
    height: var(--max-h);
    background-color: var(--bgw);
    overflow: var(--n);
}

#iosheader {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sb);
    width: var(--full);
    height: var(--head);
    padding: calc(var(--head) / 15) calc(var(--head) / 5);
    font-size: 0.8em;
    position: var(--fix);
    z-index: 555;
}

#headercellular {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--fs);
}

#iosheader img {
    height: calc(var(--head) * 0.35);
}

#headercellular>img {
    padding-right: calc(var(--head) / 10);
}
#heure{
    margin-right: 8vw;
}

#headercellular>p:last-child {
    padding-left: calc(var(--head) / 5);
}

#headerbattery>img {
    padding-left: calc(var(--head) / 10);
}

#headerbattery {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--fe);
}




/************* APPLICATION *************/
main {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--fs);
    width: var(--max-w);
    height: calc(var(--max-h) - var(--head) * 1.2);
    position: var(--abs);
    padding-top: var(--head);
}



.app-head {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: var(--max-w);
    padding: calc(var(--head) / 6) var(--min-w);
}

.app-head>article {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sb);
    width: var(--full);
    height: var(--head);
}

.app-head>article:first-child>a {
    color: #007aff;
}

.app-head>article:first-child>p {
    font-weight: var(--wb);
    position: var(--abs);
    left: calc(var(--w80) / 2);
}

.app-head>article:first-child>a>img {
    height: calc(var(--head) / 2.5);
}



main>section:nth-child(2) {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--fs);
    justify-content: var(--c);
    width: var(--max-w);
}

main>section:nth-child(2)>ul {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--fs);
    justify-content: var(--c);
    width: var(--full);
}

main>section:nth-child(2)>ul>li {
    width: var(--full);
    border-top: 1px solid #c7c7c9;
    display: var(--f);
    justify-content: var(--sb);
    align-items: center;
}

main>section:nth-child(2)>ul>li:last-child {
    border-bottom: 1px solid #c7c7c9;
}

.favorite-contact {
    width: calc(var(--full) - calc(var(--head) / 6));
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sb);
    padding: calc(var(--head) / 4);
}
.favorite-contact:active{
    background-color: #e5e5e5;
}

.favorite-contact>article {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--fs);
}

.favorite-contact>article>img {
    width: calc(var(--head) * 0.9);
}

li>a:last-child {
    height: calc(var(--head) * 0.5);
    padding-right: calc(var(--head) / 4);
}

li>a:last-child>img {
    height: var(--full);
}

.favorite-contact>article>div {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--fs);
    justify-content: var(--c);
    padding-left: var(--min-w);
}

.favorite-contact>article>div>p {
    color: var(--noir);
}

.favorite-contact>article>div>div {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--fs);
}

.favorite-contact>article>div>div>p {
    color: #959594;
    font-size: small;
    padding-left: calc(var(--min-w) / 2);
}

.favorite-contact>article>div>div>img {
    width: calc(var(--head) / 3);
}



footer {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sa);
    width: var(--max-w);
    height: calc(var(--head) * 1.2);
    position: var(--fix);
    bottom: var(--z);
    background-color: #f9f9f6;
    border-top: 1px solid #c7c7c9;
}

footer>nav {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sa);
    width: var(--full);
    height: var(--full);
}

footer>nav>a {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--fe);
    height: var(--head);
}

footer>nav>a>img {
    height: calc(var(--head) / 1.8);
    width: calc(var(--head) / 1.2);
}

footer>nav>a>p {
    margin: var(--z);
    font-size: x-small;
    color: #959594;
}

.active-icon {
    color: #007aff;
}