/**
 * Polices KDE Neon — ground truth VM (manifeste ManΣ).
 */
@font-face {
    font-family: "Noto Sans";
    src: url("../../../usr/share/capsuleos/assets/fonts/vendors/neon/NotoSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../../../usr/share/capsuleos/assets/fonts/vendors/neon/Ubuntu[wdth,wght].ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans";
    src: url("../../../usr/share/capsuleos/assets/fonts/vendors/neon/NotoSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Hack";
    src: url("../../../usr/share/capsuleos/assets/fonts/vendors/neon/Hack-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("../../../usr/share/capsuleos/assets/fonts/vendors/neon/UbuntuMono-Italic[wght].ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
