footer>a {
    width: calc(var(--head) * 2); 
    height: calc(var(--head) * 2);
    margin: var(--z) calc(var(--head) / 6);
    background: var(--t);
    transition: var(--eas2);
    z-index: 0;
}

footer>a:hover {
    width: calc(var(--head) * 2); 
    height: calc(var(--head) * 2);
    transform: scale(1.4);
    transition: var(--eas2);
    margin-bottom: var(--min-h);
    z-index: 2;
}

footer>a:focus {
    animation: 1s ease-in-out dock forwards;
}

footer>a:active {
    transform: scale(1.4);
    transition: var(--eas2);
    margin-bottom: var(--min-h);
}

.scale-effect {
    transform: scale(1.1);
    transition: var(--ease);
    margin-bottom: calc(var(--min-h) - var(--min-h) / 2);
    z-index: 1;
}

footer>a>img {
    width: var(--a);
    height: calc(var(--head) * 2);
    image-rendering: auto;
}

hr {
    width: calc(var(--head) * 6);
    height: calc(var(--head) / 50);
    transform: var(--hr);
    background: var(--hrmac);
}