@import url(./imports.css);

html {
    scrollbar-color: var(--background);
    scroll-behavior: smooth;
    color: var(--texte);
}

body {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--sb);
    width: var(--max-w);
    height: var(--max-h);
    overflow: var(--n);
    background-image: var(--macsono);
    background-size: var(--scov);
    background-repeat: var(--nr);
}

#macosHeader {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sb);
    width: var(--max-w);
    height: calc(var(--head) / 1.5);
    padding-right: calc(var(--head) / 2); 
    font-weight: bold;
    background: var(--sonohead);
    backdrop-filter: var(--blur);
}

main {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--fs);
    width: var(--full);
    height: calc(var(--h80) + calc(var(--h80) / 4));
}

iframe[src="./pages/menu.html"] {
    width: var(--full);
    height: var(--full);
}

footer {
    position: var(--fix);
    bottom: calc(var(--head) / 2);
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sa);
    width: calc(var(--head) * 44);
    height: calc(var(--head) * 2);
    padding: calc(var(--head) / 1.2) calc(var(--head) / 3.5);
    border-radius: calc(var(--head) / 2);
    background: var(--sonofoot);
    backdrop-filter: var(--blur);
    transition: transform .5s ease-out;
    transform: translateY(0);
    z-index: 1000;
}

footer.hidden {
    transform: translateY(100%);
}