div[class^="windowElement"] {
    position: var(--fix);
    top: calc(var(--head) + calc(var(--head) / 3));
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--fs);
    width: calc(var(--mid) + var(--mid) / 4);
    min-width: calc(var(--head) * 16);
    height: calc(var(--mid) + var(--mid) / 1.8);
    min-height: calc(var(--head) * 12);
    padding: calc(var(--head) / 20);
    border: calc(var(--min-bt) * 4) var(--t);
    border-radius: calc(var(--head) / 4);
    box-shadow: var(--frame);
    background: var(--sonohead);
    overflow: auto;
    overflow-y: hidden;
    scrollbar-width: var(--z);
}

.windowElementActive {
    z-index: 500;
}

#windowHeader {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sb);
    max-width: var(--max-w);
    height: calc(var(--head) / 1.3);
    padding: calc(var(--head) / 4);
    background: var(--sonofoot);
    backdrop-filter: var(--blur);
    user-select: none;
}

#windowHeader>nav {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sa);
    width: calc(var(--head) * 2.2);
    height: var(--head);
}

#windowHeader>nav>button {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: calc(var(--head) / 2);
    height: calc(var(--head) / 2);
    outline: var(--n);
    border-radius: var(--mid);
    border: calc(var(--head) / 40) var(--t);
}

#closeBtn {
    background-image: url(../media/img/header/close.png);
    background-size: cover;
}

#minimizeBtn {
    background-image: url(../media/img/header/minimize.png);
    background-size: cover;
}

#resizeBtn {
    background-image: url(../media/img/header/resize.png);
    background-size: cover;
}

#windowTitle {
    width: calc(var(--head) * 20);
    text-align: var(--c);
    text-shadow: var(--bs);
}

#windowIframe { 
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: var(--full);
    height: calc(var(--full) - calc(var(--head) / 1.2));
    overflow: var(--h);
}
