#windowContainer {
    position: var(--fix);
    top: calc(var(--head) + calc(var(--head) / 3));
    width: calc(var(--mid) + var(--mid) / 4);
    height: calc(var(--mid) + var(--mid) / 1.5);
    border: var(--min-bt);
    border-radius: calc(var(--head) / 4);
    box-shadow: var(--frame);
    background: var(--sonofoot);
    resize: both;
    overflow: auto;
    z-index: 5;
}

#windowHeader {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--fe);
    width: var(--full);
    padding: calc(var(--head) / 4);
    background: var(--sonofoot);
}

#windowHeader>button {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: calc(var(--head) / 2);
    height: calc(var(--head) / 2);
    margin-left: calc(var(--head) / 8);
    outline: var(--n);
    border-radius: var(--mid);
    border: calc(var(--head) / 40) var(--t);
}

#closeBtn {
    background-image: url(../media/img/header/close.png);
    background-size: cover;
}
#minimizeBtn {
    background-image: url(../media/img/header/minimize.png);
    background-size: cover;
}
#resizeBtn {
    background-image: url(../media/img/header/resize.png);
    background-size: cover;
}

#windowHeader>span:nth-child(5) {
    width: calc(var(--head) + var(--head) / 8);
}

#windowTitle {
    width: calc(var(--full) - var(--head) * 2);
    text-align: var(--c);
}

#windowIframe {
    width: var(--full);
    height: calc(var(--full) - var(--head));
}
