:root {
    /*************** FONT ****************/
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --wb: bold;
    /************* COULEURS **************/
    --background: hsl(237, 32%, 14%);
    --bleu: hsl(240, 45%, 12%);
    --violet: hsl(240, 66%, 11%);
    --texte: hsl(216, 100%, 95%);
    --noir: hsl(231, 100%, 4%);
    --btn1: hsl(48, 100%, 63%);
    --btn3: hsl(0, 100%, 63%);
    --t: transparent;

    /************* COULEURS **************/
    --menu: linear-gradient(45deg, var(--noir), var(--background));

    /************* TEMPLATE **************/
    --f: flex;
    --rw: row wrap;
    --rnw: row nowrap;
    --cnw: column nowrap;
    --fs: flex-start;
    --fe: flex-end;
    --c: center;
    --sa: space-around;
    --sb: space-between;

    /************** TAILLES **************/
    --a: auto;
    --z: 0;
    --max-w: 100vw;
    --max-h: 100vh;
    --h80: 80vh;
    --full: 100%;
    --head: 40px;
    --mid: 50%;
    --min-w: 3vw;
    --min-h: 3vh;

    /************** POSITION **************/
    --abs: absolute;
    --rel: relative;

    /*************** BORDER ***************/
    --min-bt: 1px solid var(--texte);
    --bor-mn: 2px solid var(--violet);

    /************* TRANSITION *************/
    --ease: .4s ease-in-out;
    --eas2: .2s ease-in-out;

    /************** TRANSFORM *************/
    --tsc: scale(1.1);
    --trt: rotate(-2deg);

    /************* BOX-SIZING *************/
    --bb: border-box;
    --cb: content-box;
    --tmn: opacity 0.4s ease-in-out;

    /************* BOX-SHADOW *************/
    --bs: inset -12px -12px 20px var(--violet),
        inset -12px -12px 20px var(--violet);
    --bo: 2px 2px 20px hsla(240, 20%, 3%, 0.5),
         2px 2px 20px hsla(240, 20%, 3%, 0.5);

    /************* VISIBILITY *************/
    --n: none;
    --hid: hidden;
    --vis: visible;

    /************* BACKGROUND *************/
    --w11: url(../media/img/fond.jpg);
    --scon: contain;
    --scov: cover;
    --nr: no-repeat;

    /*************** FILTER ***************/
    --inv: invert(2);

    /**************** LINUX ***************/
    --bbtn1: 1px solid var(--btn1);
    --bbtn3: 1px solid var(--btn3);
}