@import url(./style/fonts.css);

* {
	margin: var(--z);
	padding: var(--z);
	box-sizing: border-box;
}

.messages-list {
	padding-top: calc(var(--head) * 2.2);
	width: var(--full);
	height: var(--full);
	background: var(--androidbg);
	color: var(--nemoHC);
	font-family: 'Roboto-Regular';
}

.messages-header {
	display: var(--f);
	height: calc(var(--head) * 1.5);
	flex-flow: var(--rnw);
	justify-content: var(--sb);
	align-items: var(--c);
	background: var(--androidmhead);
	padding: var(--z) calc(var(--head) / 2);
}

.messages-header > img {
	width: 32px;
	height: 32px;
}

.messages-title {
	font-size: calc(var(--head) / 1.5);
	display: flex;
	justify-content: start;
	color: var(--texte);
	font-weight: var(--wb);
}

.message {
	padding: calc(var(--head) / 8) calc(var(--head) / 2);
	width: var(--full);
	height: calc(var(--head) * 3);
	display: var(--f);
	flex-flow: var(--rnw);
	justify-content: var(--se);
	background: var(--androidbg);
	align-items: var(--c);
	gap: 10px;
}

.message-icone img {
	width: var(--head);
	height: var(--head);
	object-fit: var(--scov);
	border-radius: var(--mid);
}

.message-content {
	display: var(--f);
	flex-flow: var(--cnw);
	justify-content: var(--c);
	align-items: var(--fs);
	width: var(--full);
}

.message-exp {
	color: var(--orange);
	font-weight: var(--wbr);
}

.message-text {
	font-size: 14px;
}

.message-date {
	align-self: var(--fs);
	display: flex;
	flex-flow: row nowrap;
	color: var(--ph);
	font-size: calc(var(--head) / 3.5);
}
