footer>menu {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: var(--mid);
    height: var(--full);
    z-index: 5;
}

footer>menu>a {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: calc(var(--head) + var(--head) / 3);
    height: calc(var(--head) + var(--head) / 3);
    padding: calc(var(--head) / 10);
    z-index: 6;
}

footer>menu>a:hover {
    background: var(--hovwin);
}

footer>menu>a>img {
    width: var(--a);
    height: var(--head);
    z-index: 7;
}

#menu {
    position: var(--abs);
    top: var(--head);
    left: var(--z);
    width: calc(var(--min-w) * 10);
    height: calc(var(--min-h) * 18);
    border-radius: calc(var(--head) / 2);
    background: var(--menu);
    color: var(--texte);
    transition: var(--tmn);
    opacity: var(--z);
    visibility: var(--hid);
}

#menu.visible {
    opacity: 1;
    visibility: var(--vis);
}

footer>#heure-date {
    width: calc(var(--head) * 4);
    height: calc(var(--head) + var(--head) / 3);
    margin-right: calc(var(--head) / 10);
    font-weight: var(--wb);
}