footer>a {
    width: calc(var(--head) * 5);
}

footer>a:nth-child(1)>img {
    width: calc(var(--head) + var(--head) / 8);
    height: calc(var(--head) + var(--head) / 8);
}

footer>menu {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: var(--mid);
    height: var(--full);
    z-index: 5;
}

footer>menu>a,
footer>menu>i {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: calc(var(--head) + var(--head) / 3);
    height: calc(var(--head) + var(--head) / 3);
    padding: calc(var(--head) / 10);
    z-index: 6;
}

footer>menu>a:hover,
footer>menu>i:hover {
    background: var(--hovwin);
}

footer>menu>a>img,
footer>menu>i>img {
    width: var(--a);
    height: var(--head);
    z-index: 7;
}

footer>#heure-date {
    display: var(--f);
    flex-flow: var(--rw);
    align-items: var(--c);
    justify-content: var(--c);
    width: calc(var(--head) * 5);
    height: calc(var(--head) + var(--head) / 3);
    text-align: var(--c);
    margin-right: calc(var(--head) / 10);
    font-weight: var(--wb);
}