@import url(../../../../style/variables.css);

body {
    margin: var(--z);
    height: var(--z);
}

section {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: var(--max-w);
    height: var(--max-h);
    border-radius: calc(var(--head) / 2);
    box-shadow: var(--bs);
    background: var(--t);
}

span {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--fs);
    height: calc(var(--max-h) - var(--head) / 2);
    padding-top: calc(var(--head) / 3);
    border-radius: calc(var(--head) / 2);
    border: var(--bor-mn);
}

span:nth-child(1) {
    width: calc(var(--min-w) * 4);
}

section>span>a {
    width: calc(var(--head) + var(--head) / 4);
    height: var(--a);
}

section>span>a>img {
    width: calc(var(--head) + var(--head) / 4);
    height: var(--a);
    transition: var(--eas2);
}

section>span>a>img:hover {
    transform: scale(.9);
}

span:nth-child(2) {
    width: calc(var(--min-w) * 16);
}

span:nth-child(3) {
    width: calc(var(--min-w) * 16);
}