@import url(../../../../style/variables.css);

body {
    margin: var(--z);
    height: var(--z);
}

section {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: var(--full);
    height: var(--full);
    border-radius: calc(var(--head) / 2);
    box-shadow: var(--bs);
    background: var(--t);
}

span {
    display: var(--f);
    flex-flow: var(--rw);
    align-items: var(--fs);
    justify-content: var(--sb);
    width: var(--full);
    height: var(--full);
    padding-top: var(--head);
    margin: var(--head) calc(var(--head) / 1.2);
    border: var(--bor-mn);
}

section>span>a {
    width: var(--head);
    height: var(--head);
}

section>span>a>img {
    width: var(--head);
    height: var(--a);
    transition: var(--eas2);
}

section>span>a>img:hover {
    transform: scale(.9);
}
