@import url(./imports.css);

html {
    scrollbar-color: var(--background);
    scroll-behavior: smooth;
    color: var(--texte);
}

body {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--sb);
    width: var(--max-w);
    height: var(--max-h);
    overflow: var(--n);
}

header {
    height: var(--z);
}

main {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--fs);
    justify-content: var(--fs);
    width: var(--max-w);
    height: var(--max-h);
    background-image: var(--w11);
    background-size: var(--scov);
    background-repeat: var(--nr);
}

main>a,
main>a>img {
    width: var(--a);
    height: calc(var(--head) * 1.2);
    margin: calc(var(--head) / 4);
}

div#menu {
    position: var(--abs);
    bottom: calc(var(--head) + var(--head) /3);
    align-self: var(--c);
    width: calc(var(--head) * 16);
    height: calc(var(--head) * 18);
    margin-bottom: calc(var(--head) / 3);
    border: var(--bor-mnw);
    border-radius: calc(var(--head) / 4);
    background: var(--ndembk);
    color: var(--texte);
    transition: var(--tmn);
    opacity: var(--z);
    visibility: var(--hid);
    z-index: 15;
}

div#menu.visible {
    opacity: 1;
    visibility: var(--vis);
    z-index: 15;
}

footer {
    position: var(--abs);
    bottom: var(--z);
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sb);
    width: var(--full);
    height: calc(var(--head) + var(--head) / 3);
    background: var(--noir);
    z-index: 5;
}