@import url(./imports.css);

html {
    scrollbar-color: var(--background);
    scroll-behavior: smooth;
    color: var(--texte);
    font-family: var(--font);
}

body {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--sb);
    width: var(--max-w);
    height: var(--max-h);
    overflow: var(--n);
}

header {
    height: var(--z);
}

main {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--fs);
    justify-content: var(--fs);
    width: var(--max-w);
    height: var(--max-h);
    background-image: var(--w11);
    background-size: var(--scov);
    background-repeat: var(--nr);
}

main>a,
main>a>img {
    width: var(--a);
    height: calc(var(--head) * 1.2);
    margin: calc(var(--head) / 4);
}
iframe[src="./pages/menu.html"] {
    width: var(--full);
    height: var(--full);
}

footer {
    position: var(--abs);
    bottom: var(--z);
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sb);
    width: var(--full);
    height: calc(var(--head) + var(--head) / 3);
    background: var(--noir);
    z-index: 5;
}