object>div[data-link="mainMenu"] {
    position: var(--abs);
    left: var(--z);
    bottom: calc(var(--head) * 1.5);
    width: calc(var(--head) * 8);
    height: calc(var(--head) * 7);
    background: var(--genMenu);
}

object>div[data-link="mainMenu"]>#windowContainer {
    margin: var(--z);
    padding: var(--z);
}

div[data-link="mainMenu"]>#windowHeader {
    display: var(--n);
    height: var(--z);
}

#mainMenu {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--fs);
    width: calc(var(--head) * 16);
    height: calc(var(--head) * 16);
    margin-bottom: var(--z);
    border-radius: var(--z) calc(var(--head) / 10) var(--z) var(--z);
    background: var(--genMenu);
}

#mainMenuCol {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: calc(var(--head) * 3.5);
    height: var(--full);
}

#menuItems {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--fs);
    width: calc(var(--head) * 2.1);
    height: calc(var(--full) - calc(var(--head) * 1.2));
    border: var(--menu-mint);
    border-radius: calc(var(--head) / 10);
}

#menuItems>a {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--c);
    width: calc(var(--head) * 1.5);
    height: calc(var(--head) * 1.5);
}

#menuItems>a:nth-child(6) {
    margin-top: calc(var(--head) * 2.2);
}

#menuItems>a:nth-child(1) {
    margin-top: calc(var(--head) / 3);
}

#menuItems>a:hover {
    background: var(--menuHover);
    border-radius: calc(var(--head) / 10);
}

#menuItems>a>img {
    width: calc(var(--head) - calc(var(--head) / 30));
    height: var(--a);
    transition: var(--eas2);
}

#menuContainer { 
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--c);
    justify-content: var(--sa);
    width: var(--full);
    height: var(--full);
}

#menuContainer>input {
    width: calc(var(--full) - var(--head));
    height: calc(var(--head) / 1.2);
    margin-top: calc(var(--head) / 6);
    border: 2px solid rgb(11, 91, 195);
    border-radius: calc(var(--head) / 10);
    background: var(--menuInput);
}

#menuItemsDetails {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sa);
    width: var(--full);
    height: calc(var(--full) - calc(var(--head) * 2.8));
}