main#gestionnaire {
    position: var(--rel);
    top: var(--z);
    right: var(--z);
    bottom: var(--z);
    left: var(--z);
    display: var(--f);
    flex-flow: var(--cnw);
    justify-content: var(--fs);
    align-items: var(--fs);
    width: calc(var(--full) - calc(var(--head) / 20));
    height: calc(var(--full) - calc(var(--head) / 1.4));
    min-height: calc(var(--a) - calc(var(--head) / 1.4));
    margin-bottom: calc(var(--head) / 12);
    border-radius: var(--z) var(--z) calc(var(--head) / 4) calc(var(--head) / 4);
    font-size: calc(var(--head) - 25px);
    background-color: var(--bgw);
    user-select: var(--n);
    overflow: var(--h);
}

#gestionnaire a {
    cursor: default;
}

#nemoHeaderContainer {
    top: var(--z);
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--sa);
    justify-content: var(--sa);
    width: var(--full);
    height: calc(var(--head) * 2);
    margin-top: var(--z);
    border-bottom: solid 1px var(--nemoHCB);
    background-color: var(--nemoHC);
}

.menuHeader {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--fs);
    width: var(--full);
    height: var(--head);
    list-style-type: none;
    overflow: hidden;
    margin: var(--z);
    padding: var(--z);
}

.menuOutils>.sousMenuOutils {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--fs);
    width: calc(var(--head) * 3);
    height: var(--head);
    padding: var(--z) calc(var(--head) / 4);
    gap: calc(var(--head) - 25px);
}

.menuHeader>li>a {
    display: var(--bl);
    text-align: var(--fs);
    color: var(--menuDefaultCcol);
    padding: calc(var(--head) / 8) calc(var(--head) / 4);
}

.menuHeader>li:active {
    background-color: #d0d0d0;
}

.listeSousMenu>a:hover {
    background-color: var(--nemoHC);
}

.listeSousMenu {
    display: none;
    position: var(--abs);
    background-color: var(--bgw);
    min-width: calc(var(--head) * 8);
    z-index: 1;
    list-style-type: none;
    border: solid 1px var(--nemoHCB);
}

.listeSousMenu>a {
    display: var(--f);
    flex-flow: var(--rnw);
    justify-content: var(--fs);
    align-items: var(--c);
    text-align: left;
    margin-left: calc(var(--head) * (-1));
    padding-left: calc(var(--head) / 5);
    color: var(--menuDefaultCcol)
}

.listeSousMenu>a>li {
    padding: calc(var(--head) / 6) var(--z);
    padding-left: calc(var(--head) / 2 + var(--head) / 8);
}

.lineUnder {
    border-bottom: solid 1px var(--nemoHCB);
}

.listeSousMenu>a>img {
    width: calc(var(--head) / 2);
    margin-right: calc(var(--head) / -2);
}

.listeSousMenu>a>li>img {
    position: absolute;
    right: 5px;
}

.menuHeader>li:hover .listeSousMenu {
    display: var(--bl);
}

.menuOutils>.sousMenuOutils:nth-child(1)>a:nth-child(5) {
    min-width: calc(var(--head) * 4);
    text-align: center;
}

#nemoHeaderContainer>.menuOutils:nth-child(2) {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sb);
    width: var(--full);
    gap: calc(var(--head) - 25px);
    padding: var(--z) calc(var(--head) / 4);
}

.menuOutils>.sousMenuOutils:nth-child(2) {
    justify-content: var(--fe);
}

.menuOutils>a,
.sousMenuOutils>a {
    text-decoration: var(--n);
    color: var(--noir);
}

#nemoMainContainer {
    position: var(--rel);
    top: var(--z);
    right: var(--z);
    bottom: var(--head);
    left: var(--z);
    display: var(--f);
    flex-flow: var(--rnw);
    justify-content: var(--fs);
    align-items: var(--fs);
    width: var(--full);
    height: calc(var(--full) - calc(var(--head) * 2.5));
    min-height: calc(var(--a) - calc(var(--head) * 2.5));
    margin: var(--z);
}

#nemoMainContainer>#voletnemo {
    display: var(--f);
    flex-flow: var(--cnw);
    justify-content: var(--fs);
    align-items: var(--fs);
    width: calc(var(--head) * 6);
    min-width: calc(calc(var(--head) * 6) + calc(var(--head) / 12));
    height: var(--full);
    min-height: var(--a);
    padding: calc(var(--head) / 12);
    border-right: solid 1px var(--nemoHCB);
    background-color: var(--nemoMCSF);
    overflow: var(--a);
}

#nemoMainContainer>#voletnemo>a,
#nemoMainContainer>#voletnemo>div>a {
    display: var(--f);
    flex-flow: var(--rnw);
    justify-content: var(--fs);
    align-items: var(--c);
    padding: calc(var(--head) / 4) var(--z) var(--z) calc(var(--head) / 8);
    font-weight: var(--wb);
    color: var(--noir);
}

#nemoMainContainer>#voletnemo>div {
    display: var(--f);
    flex-flow: var(--cnw);
    justify-content: var(--fs);
    align-items: var(--fs);
    width: 190px;
    margin-left: calc(var(--head) / 2);
    gap: calc(var(--head) / 8);
}

#nemoMainContainer>#voletnemo>div>a>img {
    padding-right: calc(var(--head) / 8);
}

#nemoMainContainer>.nemoElement {
    display: var(--f);
    flex-flow: var(--rw);
    justify-content: var(--fs);
    align-items: var(--fs);
    width: var(--full);
    height: var(--a);
    min-height: var(--a);
    overflow: var(--a);
}

#nemoMainContainer>section.nemoElement>a {
    display: var(--f);
    flex-flow: var(--cnw);
    justify-content: var(--sa);
    align-items: var(--c);
    width: calc(var(--mid) / 4);
    margin: 10px 40px;
    color: var(--noir);
}

#nemoMainContainer>section.nemoElement>a>img {
    width: calc(var(--head) * 2);
    height: var(--a);
    margin: calc(var(--head) / 4) var(--head);
}

#nemoFooterContainer {
    display: var(--f);
    flex-flow: var(--rnw);
    justify-content: var(--sb);
    align-items: var(--c);
    width: var(--full);
    height: var(--head);
    margin-bottom: calc(var(--head) / 12);
    padding: var(--z) calc(var(--head) / 2);
    border-top: solid 1px var(--nemoHCB);
    border-radius: var(--z) var(--z) calc(var(--head) / 4) calc(var(--head) / 4);
    background-color: var(--nemofoot);
}

#nemoFooterContainer>section:nth-child(1) {
    display: var(--f);
    flex-flow: var(--rnw);
    justify-content: var(--fs);
    align-items: var(--c);
    width: calc(var(--head) * 4);
}

#nemoFooterContainer>section:nth-child(1)>a {
    display: var(--f);
    flex-flow: var(--rnw);
    justify-content: var(--c);
    align-items: var(--c);
    width: calc(var(--head) / 2);
}

#nemoFooterContainer>section:nth-child(1)>a:nth-child(3) {
    width: var(--head);
}

#nemoFooterContainer>section:nth-child(2) {
    width: calc(var(--head) * 8);
}

#nemoFooterContainer>section:nth-child(2)>p {
    color: var(--noir);
}

#nemoFooterContainer>section:nth-child(3) {
    display: var(--f);
    flex-flow: var(--rnw);
    justify-content: var(--fe);
    align-items: var(--c);
    width: calc(var(--head) * 4);
}

#nemoFooterContainer>section:nth-child(3)>input {
    width: calc(var(--head) * 2);
}