#terminalContainer {
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--fs);
    justify-content: var(--fs);
    width: var(--full);
    height: var(--full);
    margin: var(--z);
    padding: calc(var(--head) / 4);
    color: var(--texte);
    font-size: calc(var(--head) / 2);
    font-weight: var(--wbr);
    border-radius: var(--z) var(--z) calc(var(--head) / 4) calc(var(--head) / 4);
    background: var(--noir);
}

#input:nth-child(1) {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--fs);
    justify-content: var(--sb);
    width: var(--full);
    height: calc(var(--head) / 1.7);
    margin-left: calc(var(--head) / 10);
    padding-left: calc(var(--head) / 10);
}

#input {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--fs);
    justify-content: var(--fs);
    width: var(--full);
    height: calc(var(--head) / 1.7);
    margin: calc(var(--head) / 20);
    padding: calc(var(--head) / 20);
}

#prompt {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--fs);
    width: calc(var(--head) * 3.4);
    margin-left: calc(var(--head) / 20);
    color: var(--btn1);
    font-size: calc(var(--head) / 2);
    font-weight: var(--wbr);
}

#command,
#command:focus,
#command:active {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--fs);
    justify-content: var(--fs);
    width: calc(var(--full) - calc(var(--head) * 3.8));
    height: calc(var(--head) / 1.7);
    padding-left: calc(var(--head) / 40);
    color: var(--texte);
    font-size: calc(var(--head) / 2);
    font-weight: var(--wbr);
    outline: var(--n);
    border: var(--z) solid var(--t);
    box-shadow: var(--n);
    background: var(--noir);
}

#output {    
    display: var(--f);
    flex-flow: var(--rw);
    align-items: var(--fs);
    justify-content: var(--fs);
    width: var(--full);
    height: var(--a);
    margin-top: calc(var(--head) / 40);
    margin-bottom: calc(var(--head) / 3);
}

#output>div {
    display: var(--f);
    flex-flow: var(--rw);
    align-items: var(--fs);
    justify-content: var(--fs);
    width: var(--full);
    height: var(--a);
    gap: calc(var(--head) / 3);
}

div {
    padding: calc(var(--head) / 8);
    min-width: var(--full);
}

#command:focus {
    box-shadow: var(--z) var(--t);
}
