main#gestionnaire {
    position: var(--rel);
    top: var(--z);
    right: var(--z);
    bottom: var(--z);
    left: var(--z);
    display: var(--f);
    flex-flow: var(--cnw);
    justify-content: var(--fs);
    align-items: var(--fs);
    width: calc(var(--full) - calc(var(--head) / 20));
    height: calc(var(--full) - calc(var(--head) / 1.4));
    min-height: calc(var(--a) - calc(var(--head) / 1.4));
    margin-bottom: calc(var(--head) / 12);
    border-radius: var(--z) var(--z) calc(var(--head) / 4) calc(var(--head) / 4);
    font-size: calc(var(--head) - 25px);
    background-color: var(--bgw);
    user-select: var(--n);
    overflow: var(--h);
}

#xedHeaderContainer {
    top: var(--z);
    display: var(--f);
    flex-flow: var(--cnw);
    align-items: var(--sa);
    justify-content: var(--sa);
    width: var(--full);
    height: calc(var(--head) * 2);
    margin-top: var(--z);
    border-bottom: solid 1px var(--xedHCB);
    background-color: var(--xedHC);
}

#xedHeaderContainer>.menuOutils:nth-child(1),
.menuOutils>.sousMenuOutils {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--fs);
    width: var(--full);
    height: var(--head);
    gap: calc(var(--head) - 25px);
    padding: var(--z) calc(var(--head) / 4);
}

.menuOutils>.sousMenuOutils:nth-child(1)>a:nth-child(5) {
    min-width: calc(var(--head) * 4);
    text-align: center;
}

#xedHeaderContainer>.menuOutils:nth-child(2) {
    display: var(--f);
    flex-flow: var(--rnw);
    align-items: var(--c);
    justify-content: var(--sb);
    width: var(--full);
    gap: calc(var(--head) - 25px);
    padding: var(--z) calc(var(--head) / 4);
}

.menuOutils>.sousMenuOutils:nth-child(2) {
    justify-content: var(--fe);
}

.menuOutils>a,
.sousMenuOutils>a {
    text-decoration: var(--n);
    color: var(--noir);
}

#xedMainContainer {
    position: var(--rel);
    top: var(--z);
    right: var(--z);
    bottom: var(--head);
    left: var(--z);
    display: var(--f);
    flex-flow: var(--rnw);
    justify-content: var(--fs);
    align-items: var(--fs);
    width: var(--full);
    height: calc(var(--full) - calc(var(--head) * 2.5));
    min-height: calc(var(--a) - calc(var(--head) * 2.5));
    margin: var(--z);
}

#xedMainContainer>#voletXed {
    display: var(--f);
    flex-flow: var(--cnw);
    justify-content: var(--fs);
    align-items: var(--fs);
    width: calc(var(--head) * 6);
    min-width: calc(calc(var(--head) * 6) + calc(var(--head) / 12));
    height: var(--full);
    min-height: var(--a);
    padding: calc(var(--head) / 12);
    border-right: solid 1px var(--xedHCB);
    background-color: var(--xedMCSF);
    overflow: var(--a);
}

#xedMainContainer>#voletXed>a,
#xedMainContainer>#voletXed>div>a {
    display: var(--f);
    flex-flow: var(--rnw);
    justify-content: var(--fs);
    align-items: var(--c);
    padding: calc(var(--head) / 4) var(--z) var(--z) calc(var(--head) / 8);
    font-weight: var(--wb);
    color: var(--noir);
}

#xedMainContainer>#voletXed>div {
    display: var(--f);
    flex-flow: var(--cnw);
    justify-content: var(--fs);
    align-items: var(--fs);
    width: 190px;
    margin-left: calc(var(--head) / 2);
    gap: calc(var(--head) / 8);
}

#xedMainContainer>#voletXed>div>a>img {
    padding-right: calc(var(--head) / 8);
}

#xedMainContainer>.xedElement {
    display: var(--f);
    flex-flow: var(--rw);
    justify-content: var(--fs);
    align-items: var(--fs);
    width: var(--full);
    height: var(--a);
    min-height: var(--a);
    overflow: var(--a);
}

#xedMainContainer>section.xedElement>a {
    display: var(--f);
    flex-flow: var(--cnw);
    justify-content: var(--sa);
    align-items: var(--c);
    width: calc(var(--mid) / 4);
    margin: 10px 40px;
    color: var(--noir);
}

#xedMainContainer>section.xedElement>a>img {
    width: var(--full);
    height: var(--a);
    margin: 10px 40px;
}

#xedFooterContainer {
    display: var(--f);
    flex-flow: var(--rnw);
    justify-content: var(--sb);
    align-items: var(--c);
    width: var(--full);
    height: var(--head);
    margin-bottom: calc(var(--head) / 12);
    padding: var(--z) calc(var(--head) / 2); 
    border-top: solid 1px var(--xedHCB);
    border-radius: var(--z) var(--z) calc(var(--head) / 4) calc(var(--head) / 4);
    background-color: var(--xedfoot);
}

#xedFooterContainer>section:nth-child(1) {
    display: var(--f);
    flex-flow: var(--rnw);
    justify-content: var(--fs);
    align-items: var(--c);
    width: calc(var(--head) * 4);
}

#xedFooterContainer>section:nth-child(1)>a {
    display: var(--f);
    flex-flow: var(--rnw);
    justify-content: var(--c);
    align-items: var(--c);
    width: calc(var(--head) / 2);
}

#xedFooterContainer>section:nth-child(1)>a:nth-child(3) {
    width: var(--head);
}

#xedFooterContainer>section:nth-child(2) {
    width: calc(var(--head) * 8);
}

#xedFooterContainer>section:nth-child(2)>p {
    color: var(--noir);
}

#xedFooterContainer>section:nth-child(3) {
    display: var(--f);
    flex-flow: var(--rnw);
    justify-content: var(--fe);
    align-items: var(--c);
    width: calc(var(--head) * 4);
}

#xedFooterContainer>section:nth-child(3)>input {
    width: calc(var(--head) * 2);
}