@import url(./imports.css);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto-Regular';
}

#android {
	width: var(--max-w);
	height: var(--max-h);
	display: var(--f);
	flex-flow: var(--cnw);
	justify-content: var(--sb);
	align-items: var(--c);
	background-image: var(--android);
	background-size: var(--scov);
}

header {
	width: var(--full);
	height: calc(var(--head) / 4 * 3);
	background: var(--androidmhead);
	display: var(--f);
	justify-content: var(--sb);
	padding: 0 10px;
	align-items: var(--c);
	color: var(--nemofoot);
	z-index: 50001;
}

.network-time {
	display: var(--f);
	justify-content: var(--se);
	gap: calc(var(--head) / 4);
}

.informations {
	display: var(--f);
	justify-content: var(--c);
	align-items: var(--c);
	gap: calc(var(--head) / 40 * 3);
}

main {
	width: var(--max-w);
	height: calc(var(--max-h) - 70px);
}

footer {
	width: var(--full);
	height: var(--a);
	display: var(--f);
	flex-flow: var(--cnw);
	justify-content: var(--sb);
	align-items: var(--c);
	gap: calc(var(--head) + 10px);
	z-index: 1;
}

#shortcut {
	width: var(--full);
	height: var(--a);
	display: var(--f);
	flex-flow: var(--rnw);
	justify-content: var(--se);
	align-items: var(--c);
}

.icon {
	width: 64px;
	height: 64px;
	object-fit: var(--scov);
	border-radius: calc(var(--head) / 4) calc(var(--head) / 2);
}

#navigation {
	width: var(--full);
	height: 70px;
	display: var(--f);
	justify-content: var(--c);
	align-items: var(--c);
}

#navigation ul {
	width: var(--full);
	height: var(--full);
	display: var(--f);
	justify-content: var(--se);
	align-items: var(--c);
	list-style: var(--n);
}

#navigation ul li {
	width: var(--a);
	height: var(--a);
	display: var(--f);
	justify-content: var(--c);
	align-items: var(--c);
	cursor: var(--p);
}
