html>body>footer>a {
    width: calc(var(--head) * 2); 
    height: calc(var(--head) * 2);
    background: var(--t);
    transition: var(--eas2);
    z-index: 0;
}

html>body>footer>a:hover {
    width: calc(var(--head) * 2); 
    height: calc(var(--head) * 2);
    transform: scale(1.4);
    transition: var(--eas2);
    margin-bottom: var(--min-h);
    z-index: 2;
}

html>body>footer>a:focus {
    animation: 1s ease-in-out dock forwards;
}

html>body>footer>a:active {
    transform: scale(1.4);
    transition: var(--eas2);
    margin-bottom: var(--min-h);
}

html>body>.scale-effect {
    transform: scale(1.1);
    transition: var(--ease);
    margin-bottom: calc(var(--min-h) - var(--min-h) / 2);
    z-index: 1;
}

html>body>footer>a>img {
    width: var(--a);
    height: calc(var(--head) * 2);
    image-rendering: auto;
}