:root {
    /*************** FONT ****************/
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /************* COULEURS **************/
    --background: rgb(24, 25, 47);
    --bleu: rgb(17, 17, 45);
    --violet: rgb(10, 10, 48);
    --texte: hsl(216, 100%, 95%);
    --noir: hsl(231, 100%, 4%);
    --btn1: hsl(48, 100%, 63%);
    --btn3: hsl(0, 100%, 63%);
    --t: transparent;

    /************* COULEURS **************/
    --menu: linear-gradient(45deg, var(--noir), var(--background));

    /************* TEMPLATE **************/
    --f: flex;
    --rw: row wrap;
    --rnw: row nowrap;
    --cnw: column nowrap;
    --fs: flex-start;
    --fe: flex-end;
    --c: center;
    --sa: space-around;
    --sb: space-between;

    /************** TAILLES **************/
    --a: auto;
    --z: 0;
    --max-w: 100vw;
    --max-h: 100vh;
    --h80: 80vh;
    --full: 100%;
    --head: 40px;
    --mid: 50%;
    --min-w: 3vw;
    --min-h: 3vh;

    /************** POSITION **************/
    --abs: absolute;
    --rel: relative;

    /*************** BORDER ***************/
    --min-bt: 1px solid var(--texte);
    --bor-mn: 2px solid var(--violet);

    /************* TRANSITION *************/
    --ease: .4s ease-in-out;
    --eas2: .2s ease-in-out;

    /************* BOX-SIZING *************/
    --bb: border-box;
    --cb: content-box;
    --tmn: opacity 0.4s ease-in-out;

    /************* BOX-SHADOW *************/
    --bs: inset -12px -12px 20px var(--violet),
        inset -12px -12px 20px var(--violet);

    /************* VISIBILITY *************/
    --n: none;
    --hid: hidden;
    --vis: visible;

    /**************** LINUX ***************/
    --bbtn1: 1px solid var(--btn1);
    --bbtn3: 1px solid var(--btn3);
}